        <div id="time_bar" class="time_bar_date_selectorWrapper">
          <form method="POST" action=".#time_bar" name="Ftb_controls">
            From: <input class="date" type="text" maxlength="10" name="tb_from_date" value="{{tb_from_date}}" onClick="showKal(this)">
            To:   <input class="date" type="text" maxlength="10" name="tb_to_date"   value="{{tb_to_date}}"   onClick="showKal(this)">
            <input type="submit" name="tb_btn_custom_date" value="Show">
            <br>
            <input type="submit" name="tb_btn_default_range" value="Default range">
            <input type="submit" name="tb_btn_next_30_days" value="30 days from today">
            <input type="submit" name="tb_btn_next_60_days" value="60 days from today">
            <input type="submit" name="tb_btn_next_90_days" value="90 days from today">
          </form>
          
          <script type="text/javascript">
              document.Ftb_controls.tb_from_date.focus();
          </script>
        </div>
