        <div class="symbology">
          <div class="group">
            <div class="name available">Available:</div><div class="seg_available box"></div>
            <div class="name reserved">Reserved:</div>  <div class="seg_reserved box"></div>
            <div class="name rented">Rented:</div>      <div class="seg_rented box"></div>
            <div class="name overdue">Overdue:</div>    <div class="seg_overdued box"></div>
            <div class="name symmary">Summary:</div>    <div class="seg_flattened_u box"></div>
          </div>
        </div>
        <div class="clear"></div>
