{% extends 'base_with_listing.html' %}

{% block title %}All locations{% endblock %}

{% block header %}All locations{% endblock %}

{% block order %} [[1,0]] {% endblock %}
{% block itemsWrapper %}locs_list itemsWrapper{% endblock %}

    {% block header_row %}
        {%if perms.baseapp.view_location%}
        <th></th>
        {%endif%}
        <th>Full name</th>
<!--        <th>Building</th>  -->
        <th>Remarks</th>
        <th>Maintainers</th>
    {% endblock %}

    {% block item_row %}
        {%if perms.baseapp.view_location%}
            <td class="show"><a href="{{ row.id }}/">Show details</a></td>
            <td class="details"><a href="{{ row.id }}/">{{ row.building.name }}: {{ row.details }}</a></td>
        {%else%}
            <td class="details">{{ row.building.name }}: {{ row.details }}</td>
        {%endif%}
<!--        <td class="building_name">{{ row.building.name }}</td>  -->
        <td class="remarks">{{row.remarks|default:"-"}}</td>
        <td class="mtrs">{{ row.maintainer.all|join:", "|default:"-"}}</td>
    {% endblock %}
