{% extends 'base_with_top_menu.html' %}

{% block title %}Location's details{% endblock %}

{% block header %}Location's details{% endblock %}

{% block content %}
    {% if perms.baseapp.list_locations %}
    <div class="inner_menu">
      <ul>
        <li><a href="../">Show all locations</a></li>
      </ul>
    </div>
    {% endif %}
    
    <div class="location_info">
      <ul class="details">
        <li><span class="label">Full name:</span> {{loc.building}}: {{loc.details}}</li>
        <li><span class="label">Building:</span> {{loc.building}}</li>
        <li><span class="label">Maintainers:</span> 
          <ul class="maintainers">
            {% for mt in loc.maintainer.all %}
            <li><a href="{% url user_one mt.id %}">{{ mt }}</a>
              <ul class="phones">
                {% for p in mt.userprofile.phone.all %}
                <li class="phone">
                  {%ifequal p.type.name "Skype" %}   <a class="skype" href="skype:{{p.value}}">{{p.type.name}}: {{p.value}}</a>
                  {% else %}                         {{p.type.name}}: {{p.value}}
                  {% endifequal %}
                </li>
                {% endfor %}
              </ul>
            </li>
            {% empty %}
            No maintainers defined.
            {% endfor %}
          </ul>
        </li>
        <li><span class="label">Remarks:</span> {{loc.remarks}}</li>
    </div>

    <!-- EDIT LOCATION -->    
    {% if perms.baseapp.change_location %}
    <div class="form_locationWrapper">
        <h2 id="edit_location">Edit location</h2>
        <form method="POST" action="." name="Flocation">
            {{ form.non_field_errors }}
            <table>
                {% for field in form %}
                    <tr>
                        <td>{%if field.label_tag|removetags:"label" %}{{ field.label_tag }}:{%endif%} 
                        <br />
                        {{ field }}</td>
                        <td>{{ field.errors }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td><input type="submit" value="Update location"></td>
                </tr>
            </table>
        </form>
        <script type="text/javascript"> 
            document.Flocation.building.focus();
        </script> 
    </div>
    {% endif %}
    
{% endblock %}
