{% extends "base_with_content.html" %}

{% block title %}Forgotten password{% endblock %}

{% block header %}Forgotten password{% endblock %}

{% block content %}

{% if display_tips %}
<div class="tip">
  <p>
    any tip ???
  </p>
</div>
{% endif %}

<p>To obtain a new password, please enter your email address. Activation link will be emailed to you soon.</p>

<div class="formWrapper">
  <form class="forgotten_password_form" action="." method="POST" name="Fforgotten_password">
    <table class="basic_fields">
      <tbody>
        {% if errors %}
        <ul class="errorlist">
          {% for error in errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <tr><th>Your email:</th><td><input id="id_email" name="email" type="text" value="{{email}}" /></td></tr>
        <tr><th></th><td><input type="submit" value="Submit"/></td></tr>
      </tbody>
    </table>
  </form>
  <script type="text/javascript">
      document.Fforgotten_password.id_email.focus();
  </script>
</div>

{% endblock %}


