{% extends "base_with_content.html" %}

{% block title %}New user registration{% endblock %}

{% block header %}Registration form{% endblock %}

{% block content %}

<script language="javascript" type="text/javascript">
  $(document).ready(function() {
      var fill_autofields = function() {
          $('#id_email').val( $('#id_first_name').val() + '.' + $('#id_last_name').val() + '@nsn.com');
          $('#id_yourusername').val( ($('#id_first_name').val() + $('#id_last_name').val()) );
      }
      $('#id_first_name').keyup(fill_autofields);
      $('#id_last_name').keyup(fill_autofields);
      fill_autofields();
  });
</script>

{% if display_tips %}
<div class="tip">
  <p>
    Here is a registration form. Fill it in to register.
  </p>
  <p>
    Attention! After registration <em>you will have to wait</em> until admin turns your account active.
  </p>
</div>
{% endif %}

<div class="formWrapper">
  <form class="registration_form" action="." method="POST" name="Fregister">
    <table class="basic_fields">
      <tbody>
        <tr><th>Your username:</th><td><input id="id_yourusername" type="text" value="" readonly="readonly"/></td></tr>
        {{ form_content }}
        <tr><th></th><td><input type="submit" value="Register me"/></td></tr>
      </tbody>
    </table>
  </form>
  <script type="text/javascript">
      document.Fregister.first_name.focus();
  </script>
</div>

{% endblock %}


