{% extends "base_with_content.html" %}

{% block title %}New user registration{% endblock %}

{% block header %}Registration form{% endblock %}

{% block content %}
{% if display_tips %}
<div class="tip">
  <p>
    Here is a registration form. Fill it in to register.
  </p>
  <p>
    Attention! After registration <em>you will have to wait</em> until admin turn your account active.
  </p>
</div>
{% endif %}

<div class="formWrapper">
  <form class="registration_form" action="." method="POST" name="Fregister">
    <table class="basic_fields">
      <tbody>
        {{ form_content }}
        <tr><th></th><td><input type="submit" value="Register me"/></td></tr>
      </tbody>
    </table>
  </form>
  <script type="text/javascript">
      document.Fregister.username.focus();
  </script>
</div>

{% endblock %}


