html, body
{
    background-color: #666;
    margin: 0;
    padding: 0;
    height: 100%;
}

a
{
    color: #000;
}

h1
{
    margin: 5px;
}

ul.books li
{
    margin-bottom: 1em;
}

#top
{
    background-color: #eee;
    margin: 0 auto;
    padding-top: 10px;
    width: 780px;
    min-height: 100%;
    position: relative;
}

#header
{
    background-color: #888;
    margin: 0 auto 10px auto;
    padding: 5px;
    width: 740px;
}

#menu
{
    background-color: #ccc;
    margin: 0px;
    padding: 0;
    /* width: 120px; */
    float: left;
    overflow: hidden;
    width: 100%;
}
#menu a
{
    text-decoration: none;
    font-size: 110%;
    font-weight: bold;
}

#menu ul li
{
    float: left;
    padding: 1em 2em;
    text-decoration: none;
}

#menu ul li:hover
{
    background: yellow none repeat scroll 0 0;
}

#menu ul
{
    list-style-type: none;
    margin: 0px 5px 5px 30px;
    padding: 0;
}

#login
{
    margin: 30px 0 0 200px;
}

#content
{
    margin: 0;
    padding: 5px;
    padding-left:15px;
    width: 640px;
    overflow: auto;
}

#footer
{
    clear: both;
    width: 100%;
    bottom: 0;
    position: absolute;
}