/* orange: #ff8400
   violet: #8010a2
   yellow: #ffcf00
*/

div.tmp_log_as a {  text-decoration: none;  border:0;  padding: 1em;  }
div.tmp_log_as a:hover  {  background-color: #ff8400;  }
    
.clear {  clear: both;  }
a { color: black; border-bottom: 1px dotted gray; text-decoration: none; }
a:hover { text-decoration: underline; border: 0; }
a[href*="@"] { font-style: italic; }
#header h1 { margin-top: 40px; margin-bottom:0; font-size: xx-large;}

div.logged_user_info {
    line-height: 1.7em;
    background: #def url("/media/images/bluebar.gif") bottom left repeat-x;
    color: #2A4666;
    text-align: right;  vertical-align: top;
    font-size: 8pt;
    padding-right: 1em;
}


/* TIPS */
div.collapsedTip {  /*width: 10px; */ height: 10px;  overflow: hidden;  /*position: relative; float:left;  */}
div.tip,
div.itip {
    
    font-size: x-small;
    border: 1px solid #ff8400;
    background: #ffcf00 url("/media/images/tip_off.gif") top left no-repeat;
    padding: 1em 1em .5em 2em;
    margin: .5em;
    text-align: left;
}
div.tip:hover,
div.itip:hover {
    background: #ffcf00 url("/media/images/tip_on.gif") top left no-repeat;
    border-bottom-left-radius: 1.5em;
    -moz-border-radius-bottomleft: 1.5em;
    -webkit-border-bottom-left-radius: 1.5em;
}
div.tip p, div.itip p {  margin-bottom: 0;  padding-bottom: 0; }
div.tip em, div.itip em {  font-weight: bold; }
div.itip    {  display: inline; }
/* / TIPS */


/* GO UP, GO BACK */
div.goThereWrapper {  padding: 0 0.5em 1em 0; }
div.goUpWrapper, div.goBackWrapper {  display: inline;  margin: .5em .5em 1em 0; }
div.goUpWrapper a,
div.goBackWrapper a {
    background: url('/media/images/iconGoUp.gif') no-repeat;
    padding: 0 0 .1em 20px;
    text-decoration: none;
    border-width: 0;
}
div.goBackWrapper a {
    background: url('/media/images/iconGoBack.gif') no-repeat;
}
/* / GO UP, GO BACK */


/* INFO MESSAGES */
div.messagesWrapper {   /* messages framework */
    padding: .3em 0em;
    background-color: #ffcf00;
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
}

div.reserve_rent_form .positive_message {
    font-weight: bold;
    color: green;
}
div.reserve_rent_form .negative_message {
    font-weight: bold;
    color: red;
}
div.positive_message {
    font-weight: bold;
    color: green;
}
div.warning {
    font-weight: bold;
    color: red;
}
/* / INFO MESSAGES */


/* ITEMS WRAPPER */
div.itemsWrapper table {
    margin: 1em auto;
    width: 96%;
    border: 1px solid black;
    text-align: center;
}
div.itemsWrapper table td,
div.itemsWrapper table th {
    padding: .4em .5em;
    border: 1px solid black;
}
div.itemsWrapper tr:hover {  background-color: #ff8400;  }
/* / ITEMS WRAPPER */


/* LOGIN FORM */
#login {
    padding: 20px;
    text-align: center;
    margin: auto;
    position: relative;
    left: -120px;
}
#login ul.errorlist {  list-style: none;  }
#login table {  margin: 0 auto;  }
#login form input {  width: 15em;  }
/* / LOGIN FORM */


/* REGISTRATION */
form.registration_form table.basic_fields {
    padding: 20px;
    text-align: center;
    margin: auto;
    position: relative;
    left: -120px;
}
form.registration_form table.basic_fields  th {
    text-align: left;
    vertical-align: top;
}
form.registration_form table.basic_fields input {
    width: 20em;
}
/* / REGISTRATION */


/* FORMS */
div.form_bookWrapper #id_title,
div.form_bookWrapper #ac_authors { width: 35em; }  /* books/one.html */
div.form_bookWrapper table { margin: 0 auto; }

form.book_search .first {     /* books.html */
    padding-right: 1em;
    text-align: left;
    /* border-right: 1px solid black; */
    min-width: 40em;    width: 40em;
}
table.book_details tr.book_category select {
    min-width: 15em;    width: 15em;
}
form.book_search input#id,
form.book_search input#title,
form.book_search input#author {
    min-width: 25em;    width: 25em;
}

form.copy_search select#location {    /* bookcopies.html */
    width: 30em;
    min-width: 30em;
}
form.copy_search table {  margin: 0 auto; }

form.edit_profile .first {    /* profile.html */
    text-align: left;
    vertical-align: top;
    padding-right: 3em;
}
form.edit_profile .first input {
    min-width: 25em;    width: 25em;
}
form.edit_profile .second input {
    min-width: 15em;    width: 15em;
}

form.book_request_form .basic_fields {  /* book_request.html */
    text-align: left;
}

div.user_search input#first_name,
div.user_search input#last_name,
div.user_search input#email {   /* users.html */
    width: 30em;
    min-width: 30em;
}

form.forgotten_password_form input#id_email {      /* registration/forgotten_password.html */
    width: 25em; min-width: 25em;
}

.reportItems th {     /* reports/....html */
    background: #eee url('/media/images/sort-bg.gif') left top repeat;
}
.reportItems th input {
    border-bottom: 1px solid inherit;
    padding: 0 2px;
}
/* .reportItems th input:hover { border-left: 2px solid #8010a2; border-right: 2px solid #8010a2; } */
/* / FORMS */


/* REPORTS MENU */
/* http://matthewjamestaylor.com/blog/beautiful-css-centered-menus-no-hacks-full-cross-browser-support */
.inner_menu {
   /* float:left; */
   width:99%;
   overflow:hidden;
   position:relative;
   background: white;
   border-top: 1px solid #8010a2;
   margin: 0 auto;
   margin-top: 2em;
   margin-bottom: 0;
}
.inner_menu ul {
   margin:0;           padding:0;
   clear:left;         float:left;
   position:relative;  left:50%;
   list-style:none;
   height: 3.9em;
   text-align:center;
}
.inner_menu ul li {
   display:block;     float:left;
   margin:0;          padding:0;
   position:relative;
   right:50%;
}
.inner_menu ul li a {
   display:block;
   margin:0 0 0 1px;
   padding: .4em 1.5em;
   background: #8010a2;
   color: white;
   text-decoration:none;
   line-height:1.7em;
   border:0;
}
.inner_menu ul li a:hover {
   background:#ff8400;
   color:#fff;
   line-height:3em;
}
.inner_menu ul li a.active,
.inner_menu ul li a.active:hover {
   color:#fff;
   background:#000;
   font-weight:bold;
}


/* COPY SHOW */
div.copy_info ul {    /* bookcopy.html */
    list-style: none;
    margin-left: 1em;
    padding: 0;
}
div.copy_info ul li      {  margin-left: 0; margin-top: .5em;  }
div.copy_info span.label {  font-weight: bold;  }
div.copy_info .book_shelf_mark {
    font-size: 110%;
    font-weight: bold;
    letter-spacing: .1em;
}
/* / COPY SHOW */


/* BOOK SHOW */
div.book_authors, div.book_copies, div.book_categories {    /* bookcopies.html */
    margin-top: 1em;
}
div.book_authors dt, div.book_categories dt {
    font-weight: bold;
    display: inline;
}
div.book_authors dd, div.book_categories dd {
    margin:0;
    padding:0;
    display:inline;
}
/* / BOOK SHOW */


/* EDIT PENCIL */
div.book_contentWrapper div.edit_book,
div.copy_contentWrapper div.edit_copy {    /* bookcopies.html, bookcopy_base.html */
    /* display: block;   float: right; */ /* pencil disappears in IE */
    width:  48px;     height: 39px;
}
html>/**/body div.book_contentWrapper div.edit_book,
html>/**/body div.copy_contentWrapper div.edit_copy { /* HACK: only modern browsers */
    position: absolute; right: 2em;
}
div.book_contentWrapper div.edit_book a,
div.copy_contentWrapper div.edit_copy a {
    background: url('/media/images/edit_big.png') no-repeat left center;
    display: block;
    width:  100%;        height: 100%;
    position: relative;  right: 0px;
    border: 0;
}
div.book_contentWrapper div.edit_book a:hover,
div.copy_contentWrapper div.edit_copy a:hover {
    background: url('/media/images/edit_big_hover.png') no-repeat left center;    
}
div.book_contentWrapper div.edit_book a span,
div.copy_contentWrapper div.edit_copy a span {
    display: none;   /* hide text */
}
/* / EDIT PENCIL */


/* LOCATION SHOW */
div.location_info ul {    /* locations/one.html */
    list-style: none;
    margin-left: 1em;
    padding: 0;
}
div.location_info ul li      {  margin-left: 0; margin-top: .5em;  }
div.location_info span.label {  font-weight: bold;  }
div.form_locationWrapper table {  margin: 0 auto;  }
div.form_locationWrapper input#id_remarks,
div.form_locationWrapper input#id_details {  width: 100%;  }
div.form_locationWrapper select#id_building {  width: 30em;  }
/* / LOCATION SHOW */


/* USER SHOW */
ul.userProfile li .label {
    font-weight: bold;
}
ul.phones a.skype {
    background: url('/media/images/skype-icon.png') no-repeat right;
    padding: 0 26px 0 0;
    text-decoration: none;
}
/* / USER SHOW */


/* CONFIGURATION */
div.config_options_wrapper a { border: 0; }
div.config_options_wrapper div.option {
    padding: .5em 1em;
    z-index: 1000;
}
div.config_options_wrapper div.option:hover {
    background: #ffcf00;
    font-size: 115%;
    z-index: 1000;
}
div.config_options_wrapper dt.key {
    font-family: monospace;
    font-weight: bold;
}
div.config_options_wrapper div.option dd span.label {
    font-weight: bold;
}
div.config_options_wrapper dd.value {
    font-size: 110%;
}
div.config_options_wrapper div.actions {
    float: right;
}
div.config_options_wrapper a.local {
    background: url('/media/images/edit.png') no-repeat left center;
    display: inline;  width: 35px;  height: 16px;  float: left;  margin: 0 .4em;
}
div.config_options_wrapper a.local:hover {
    background: url('/media/images/edit_hover.gif') no-repeat left center;
}
div.config_options_wrapper a.local span {
    display: none;
}
div.config_options_wrapper a.global {
    background: url('/media/images/edit_global.png') no-repeat left center;
    display: inline;  width: 82px;  height: 16px;  float: left;  margin: 0 .4em;
}
div.config_options_wrapper a.global:hover {
    background: url('/media/images/edit_global_hover.gif') no-repeat left center;
}
div.config_options_wrapper a.global span {
    display: none;
}
form.edit_option_form td {  padding-bottom: .5em;  }
form.edit_option_form td.key {  letter-spacing: .1em; font-size:120%; }
form.edit_option_form td span.label {
    font-weight: bold;
    letter-spacing: normal;

}
form.edit_option_form td input#id_value[type="text"] {  /* text input is longer. Checkbox is not. */
    min-width: 25em;
    width: 100%;
}
form.edit_option_form td select#id_value {
    width: auto;
    }
/* / CONFIGURATION */


/* EMAIL LOGS */
div.emails_wrapper div.email {
    border-top: 1px solid black;
    margin-bottom: 2em;
}
div.emails_wrapper table.emails {
    border: 1px solid black;
}
div.emails_wrapper table.emails td,
div.emails_wrapper table.emails th {
    padding: 0.5em;
    border: 1px solid #000;
}
/* / EMAIL LOGS */


/* JQUERY */
.ui-datepicker-calendar {  border:0;  }  /* fix */
.ui-autocomplete { height:20em; overflow-y:scroll; overflow-x:hidden; }
/* / JQUERY */


/* AUTHORS */
div.item_info span.label {  font-weight: bold;  }
div.form_itemWrapper .propositions {  padding-left: 2em;  }
div.form_itemWrapper .propositions ul {  margin-left: 1em;  }
div.form_itemWrapper .propositions ul li {  margin-bottom: .3em;  }
div.form_itemWrapper input#id_name {  width: 30em;  min-width: 30em;  }
div.itemsWrapper td.options {
    padding:0;
}
div.itemsWrapper .options a.edit {
    background: url('/media/images/edit-small.gif') center left no-repeat;
    /* padding: 0 0 .3em 20px; */
    display: block;
    width: auto;
    /* margin: .5em 0; */
    border: 0;
}
/* / AUTHORS */


/* MISC */
div.add_new_user a,           /* 'add user' link */
div.book_actions a.add_book,  /* 'add book' link */
div.bookcopy_actions a {      /* 'add book copy' link */
    background: url('/media/images/add-icon.gif') no-repeat;
    padding: 0 0 .3em 20px;
    display: block;
    margin: .5em 0;
    border: 0;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}
form table {     /* table in form is usually layout table */
    border-collapse: collapse;
    border: 0;
}
table select {  width: 100%;  }

ul.errorlist {  color: red;  }
input[readonly] { background-color: #eee; }  /* chrome doesn't gray out readonly fields */

.unavailable {  color: red;  }
/* / MISC */
