
/* reservation archive */
div.rsv_archive table {
    margin-top: 1em;
    width: 100%;
    border: 1px solid #000;
    text-align: center;
}
div.rsv_archive table td,
div.rsv_archive table th {
    padding: .4em .5em;
    border: 1px solid #000;
}


/* locations list */
div.locs_list table {      /* locations/list.html */
    margin-top: 1em;
    width: 100%;
    border: 1px solid #000;
    text-align: center;
}
div.locs_list table td,
div.locs_list table th {
    padding: .4em .5em;
    border: 1px solid #000;
}


div.formWrapper th {
    vertical-align: top;
}
div.formWrapper form.registration_form {
    padding: 1em 0 0 1em;
    background-image: url('http://www.recipester.org/images/7/7f/Bg-0006.gif');
}

form.registration_form input.required {
    border: 1px solid red;
}
form.registration_form table.basic_fields  th {
    text-align: right;
    vertical-align: top;
    padding-right: 1em;
    /* border: 1px solid green; */
}
form.registration_form table.basic_fields  td {
    padding-bottom: 1.5em;
    /* border: 1px solid red; */
}
form.registration_form table.basic_fields ul.errorlist {
    list-style-type: none;
    float: none;
    color: red;
    margin: 0 0 1em 0;
    padding: 0;
    font-size: 90%;
}
form.registration_form table.basic_fields  td ul.errorlist {
    list-style-type: none;
    float: none;
    color: red;
    margin: 0;
    padding: 0;
    font-size: 90%;
}
form.registration_form table.basic_fields  td ul.errorlist li {
    padding: 0;
}

