.tb_stripes {
    background-image: url('/media/images/tb_stripes.gif') !important;
}

div.time_bar_codeWrapper {  /* wraps code only. see time_barWrapper */
}

div.time_barWrapper {   /* wraps controls, code and header */
    clear: both;
}


div.group {
    background-color: lime;
    display: block;
    clear: both;
}
div.group div.seg_reserved  {  background: #ccc url('/media/images/tb_stripes.gif') repeat !important;  }
div.group div.seg_rented    {  background: #ff8400 url('/media/images/tb_tildes.gif') center left repeat-x !important;  }
div.group div.seg_overdued  {  background: #8010a2 url('/media/images/tb_circles.gif') center left repeat-x !important;  }
div.group div.seg_available {  background-color: #eee;  }
div.group div.seg_flattened_u {  background-color: #777;  height: 2.4em !important;  }
div.group div.seg_flattened_a {  background-color: #eee;  height: 2.4em !important;  }
div.group div.seg_summary,
div.group div.seg_flattened_u,
div.group div.seg_flattened_a,
div.group div.seg_reserved,
div.group div.seg_rented,
div.group div.seg_overdued,
div.group div.seg_available {
    display: block;
    float: left;
    font-size: 85%;
    height: 1.4em;
    border-bottom: 1px solid black;
    overflow: hidden;
}

div.symbology {  margin-left: 1em;  }
div.symbology div.group div.box {
    margin: .6em;
    padding: .1em .5em;
    border: 1px solid black;
    font-size: 100% !important;
    height: 1.2em !important;
    width: 3em;
}
div.symbology div.group div.name {
    top: 5em;
    float: left;
    vertical-align: middle;
    padding: 0;
    margin-left: 1.5em;
    margin-top: .7em;
    margin-right: -.4em;
}

div.scaleWrapper {
    width: 100%;
    clear: both;
    display: block;
}
div.scale_part {
    font-size: 85%;
    height: 1.3em;
    float: left;
    background: #ffcf00 url('/media/images/tb_scale_bar.gif') repeat-y left top !important;
    overflow: hidden;
}


div.time_bar_date_selectorWrapper {
    text-align: right;
}


div.time_bar_date_selectorWrapper input[value='Show'] {
    padding: .3em 1.2em;
}
div.time_bar_date_selectorWrapper .helper_buttons {
    padding-top: .7em;
}
div.time_bar_date_selectorWrapper .helper_buttons input {
    font-size: x-small;
    padding: .2em .5em;
}

/* TIME BAR SEGMENTS TABLE */
table.tb_booklist {
    width: 96%;
    margin-top: 1em;
    text-align: center;
}
table.tb_booklist td,
table.tb_booklist th {
    padding: .4em .5em;
    border: 1px solid #000;
}
table.tb_booklist .title,
table.tb_booklist .authors {
    text-align: left;
}
table.tb_booklist .actions {
    text-align: left;
    margin: 0.5em 0 0.5em 1em;
    padding: 0;
    background-color: #ffcf00;
}
table.tb_booklist .actions ul { list-style: none; }
table.tb_booklist .actions li.edit a {
    background: url('/media/images/edit-small.gif') center left no-repeat;
    padding: 0 0 .3em 20px;
    display: block;
    margin: .5em 0;
    border: 0;
}
table.tb_booklist .actions a:hover { text-decoration: underline; border:0; }
table.tb_booklist .unavailable {
    color: red;
}
table.tb_booklist tr.copy_details:hover {  background-color: #ddd;  }

/* / TIME BAR SEGMENTS TABLE */
