{% extends 'base_with_top_menu.html' %}

{% load go_back_link %}

{% block title %}Edit config option{% endblock %}

{% block header %}Edit {%if is_global%}global {%endif%}config option - {{form.option_key}}{% endblock %}

{% block content %}

{% go_back_link "Go back" %}

{% if form %}
<div class="formWrapper">
  <form class="edit_option_form" action="." method="POST">
    <table class="basic_fields">
      <tbody>
        {% if form.non_field_errors %}
        <tr><td>{{form.non_field_errors}}</td></tr>
        {% endif %}
        <tr><td><span class="label">Key:</span> {{form.option_key}} </td> </tr>
        {% if is_global %}
        <tr><td><span class="label">Description:</span> <br/>{{form.description}} {{form.description.errors}}</td> </tr>
        <tr><td><label for="id_can_override"><span class="label">Can override:</span></label> {{form.can_override}}</td> </tr>
        {% else %}
        <tr><td><span class="label">Description:</span> {{option.description|linebreaksbr}} </td> </tr>
        <tr><td><span class="label">Can override:</span> {{option.can_override}} </td> </tr>
        {% endif %}
        <tr><td >
            {% if is_global %}  <span class="label">Global value:</span>
            {% else %}          <span class="label">Value:</span>
            {%endif%}
            {{ form.value.errors }}
            {{ form.value }}
        </td></tr>
        
        <tr> <th></th> <td><input type="submit" value="Save changes"/></td> </tr>
      </tbody>
    </table>
  </form>
</div>

{% endif %}

{% endblock %}
