{% extends 'base_with_top_menu.html' %}

{% block title %}Building's details{% endblock %}

{% block header %}Building's details{% endblock %}

{% block content %}

<div class="building_one">
  <div class="inner_menu">
    <ul>
      {%if is_displaying and perms.baseapp.change_building%}<li><a href="{% url building_edit building.id %}">Edit this building</a> </li>{% endif %}
      <li><a href="{% url building_all %}">Show all buildings</a> </li>
      {%if is_displaying and perms.baseapp.add_building%}<li><a href="{% url building_add %}">Add another building</a> </li>{% endif %}
      {%if is_updating%}<li><a href="{% url building_one building.id %}">Show this building</a></li>{% endif %}
    </ul>
  </div>

    {% if not is_adding %}
    <div class="building_info item_info">
      <ul class="details">
        <li><span class="label">Name:</span> {{building.name}}</li>
        <li><span class="label">Remarks:</span> {{building.remarks|default:"-"}}</li>
      </ul>
    </div>
    {% endif %}


    {% if perms.baseapp.add_building and form %}
      {% if display_tips %}
        <div class="tip" >
          <p>When you add or update an building, you can add duplicate by mistake. On list below you will find buildings'
            names which closely match to your input. If you find your input on the list, this means you tried to insert
            a duplicate.
          </p>
        </div>
      {% endif %}
    <div class="form_buildingWrapper form_itemWrapper">
      <center>
        <form method="POST" action="." name="Fbuilding">
            {{ form.non_field_errors }}
            <table>
                {% for field in form %}
                    <tr>
                        <td>{{ field.label_tag }}:
                          <br />
                          {{ field }}
                          {{ field.errors }}
                        </td>
                        {% if 'name' in field.label.lower %}
                          <td style="vertical-align:bottom;">
                            <input type="submit" name="btn_propositions" value="Check">
                          </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                {% if propositions %}
                    <tr>
                      <td>
                        <div class="propositions">
                          <h3>List of closest matching buildings</h3>
                          <ul>
                            {{ propositions|unordered_list }}
                          </ul>
                        </div>
                      </td>
                    </tr>
                {% endif %}
                <tr>
                    <td></td>
                    <td>
                    {% if propositions %}
                      {% if is_adding %}  <input type="submit" name="btn_add"    value="Not on the list, add new one">    {%endif%}
                      {% if is_updating %}<input type="submit" name="btn_update" value="Update building"> {%endif%}
                    {% endif %}
                    </td>
                </tr>
            </table>
        </form>
        <script type="text/javascript"> 
            document.Fbuilding.id_name.focus();
        </script>
      </center>
    </div>
    {% endif %}

</div>    
{% endblock %}
