{% extends 'base.html' %}

{% block title %}{{ book.title }}{% endblock %}

{% block header %}{{ book.title }}{% endblock %}

{% block content %}
<b>Authors:</b>
{% for author in book.authors %}
 {{ author }},
{% endfor %}
<ul>
{% for item in book.items %}
<li><b><a href='{{ item.url }}'>>></a></b>:
    <ul>
    <li>Location: {{ item.location }}</li>
    <li>State: {{ item.state }}</li>
    <li>Publisher: {{ item.publisher }}</li>
    <li>Year: {{ item.year }}</li>
    <li>Description: {{ item.description }}</li>
    </ul>
</li>
{% endfor %}
</ul>
{% endblock %}
