{% extends 'base_with_top_menu.html' %}

{% load go_back_link %}

{% block title %}List of emails{% endblock %}

{% block header %}List of emails{% endblock %}

{% block content %}
    <div class="emails_wrapper">
      {% if emails %}
      <table class="emails">
        <tbody>
          <tr><th>Sent</th> <th>From</th> <th>To</th> <th>Body</th> </tr>
          {% for email in emails %}
          <tr><td>{{email.sent_date|date:"d.m.Y H:i"}}</td> <td>{{email.sender}}</td> <td>{{email.receiver}}</td> <td>{{email.body}}</td> </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No email logs -- log is empty.</p>
      {% endif %}
    </div>
{% endblock %}
