{% extends 'base_with_listing.html' %}

{% block title %}All categories{% endblock %}

{% block header %}All categories{% endblock %}

{% block order %} [[1,0]] {% endblock %}
{% block itemsWrapper %}categories_list itemsWrapper{% endblock %}

    {% block header_row %}
      {% if perms.baseapp.list_categories %}
          <th></th>
          <th>Name</th>
          {% if perms.baseapp.change_category %}<th>Options</th>{% endif %}
      {% else %}
          <th>Name</th>
      {% endif %}
    {% endblock %}

    {% block item_row %}
      {% if perms.baseapp.list_categories %}
          <td class="options">
            <a href="{% url category_one row.id %}">Show details</a>
          </td>
          <td class="name"><a href="{% url category_one row.id %}">{{ row.name }}</a></td>
          {% if perms.baseapp.change_category %}
            <td class="options">
              <a class="edit" href="{% url category_edit row.id %}">Edit category</a>
            </td>
          {% endif %}
      {% else %}
          <td class="name">{{ row.name }}</td>
      {% endif %}
    {% endblock %}
