{% extends 'base.html' %}

{% block menu %}
<div id='menu'>
    <ul>
        <li><a href='/entelib/book/'>Book list</a></li>
        <li><a href='/?'>Profile</a></li>
        {% if can_list_users %}
            <li><a href='/entelib/users/'>User list</a></li>
        {% endif %}
        <li><a href='/entelib/report/'>Reports</a></li>
        <li><a href='/entelib/admin/'>Admin panel</a></li>
        <li><a href='/entelib/logout/'>Logout</a></li>
    </ul>
</div>
{% endblock %}

{% block rest %}
<div id='content'>{% block content %}{% endblock %}</div>
{% endblock %}