{% extends 'base.html' %}

{% block menu %}
    <div id='menu'>
        <ul>
            {% if false %} Nie wiem jak mozna robic komentarze w template'ach. 
                           Zastanawiam sie czy to sprawdzanie uprawnien dla np list books czy views onw profile
                           do czegos to w ogole prowadzi. - mbr
            {% endif %}
            {% if can_list_books %}                <li><a href="/entelib/books/">Book list</a></li>                        {% endif %}
            {% if can_add_bookrequest %}           <li><a href="/entelib/requestbook/">Request book</a></li>               {% endif %}
            {% if can_view_own_profile %}          <li><a href="/entelib/profile/">My profile</a></li>                     {% endif %}
            {% if can_view_own_profile %}          <li><a href="/entelib/profile/rentals/">My rentals</a></li>             {% endif %}
            {% if can_view_own_profile %}          <li><a href="/entelib/profile/reservations/">My reservations</a></li>   {% endif %}
            {% if can_list_config_options %}       <li><a href="/entelib/config/">Configuration</a></li>                   {% endif %}
            {% if can_list_users %}                <li><a href="/entelib/users/">User list</a></li>                        {% endif %}
            {% if can_list_reports %}              <li><a href="/entelib/report/">Reports</a></li>                         {% endif %}
            {% if can_access_admin_panel %}        <li><a href="/entelib/admin/">Admin panel</a></li>                      {% endif %}
                                                   <li><a href="/entelib/logout/">Logout</a></li>
        </ul>
    </div>

    <!-- id='menu' should be unique (CSS req), but this menu is temporary as for now.
         If it changed, we would add it to CSS.
      -->
    <div id='menu'>
      <ul>
            {% if can_load_default_config %}       <li><a href="/entelib/load_default_config/">Load default config</a></li>  {% endif %}
            {% if can_list_emaillog %}             <li><a href="/entelib/emaillog/">Email logs</a></li>             {% endif %}
      </ul>
    </div>
{% endblock %}

{% block rest %}
    <div id='content'>{% block go_back %} <a href=../>Go back</a><br /> {% endblock %} {% block content %}{% endblock %}</div>
{% endblock %}
