{% extends 'bookcopy_base.html' %}
{% block links %}
  <h3 id="rr">Reserve/Rent</h3>
  {% if perms.baseapp.add_rental or perms.baseapp.add_reservation %}
      <div class="inner_menu">
        <ul>
            {% if perms.baseapp.add_rental %}        <li><a href='user/'>Reserve/rent for user</a></li>    {% endif %}
            {% if perms.baseapp.add_reservation %}   <li><a href='reserve/'>Reserve for me</a></li>        {% endif %}
        </ul>
      </div>
  {% else %}
    <p>Lack of permissions</p>
  {% endif %}
{% endblock %}

{% block go_up %}
    <div class="goUpWrapper"><a href=up/>Up</a></div>
{% endblock %}
