{% extends 'base_with_top_menu.html' %}

{% block header %}{{ book.title }}{% endblock %}

{% block content %}
{% block forms %}
{% endblock %}
<div class='clear' style='padding-top: 1em;'>
<ul class='booklist'>
    <li>Shelf mark: {{ book.shelf_mark }}</li>
    <li>{% if book.authors %}
            <b>Authors: </b>{{ book.authors|join:', '}}
        {% else %}
            <b>No authors.</b>
        {% endif %}</li>
    <li>Location: {{ book.location }}</li>
    <li>State: {{ book.state }}</li>
    <li>Publisher: {{ book.publisher }}</li>
    <li>Year: {{ book.year }}</li>
    <li>Publication number: {{ book.publication_nr }}</li>
    <li><a href='{{ book.desc_url }}'>See external description</a></li>
    {% if book.description %}
    <li>Description:</ br><div> {{ book.description }}</div></li>
    {% endif %}
    {% if book.toc %}
    <li>Table of contents: {{ book.toc}}</li>
    {% endif %}
    <div class='picture'>
    <img src='{{ book.picture_url }}'>
    </div>

</ul>
</div>
{% endblock %}
