{% extends 'bookcopy_base.html' %}
{% block links %}
    <h3 id="rr">Reserve/Rent</h3>
    <div class='content_form'>
            {% if perms.baseapp.add_rental %}
                | <b><a href='user/'>Reserve/rent for user</a></b> |
            {% endif %}
            {# przydaloby sie to jakos ladnie rozdzielic #}
            {%if perms.baseapp.add_reservation %}
                | <b><a href='reserve/'>Reserve for me</a></b> |
            {% endif %}
    </div>
{% endblock %}

{% block go_up %}
    <div class="goUpWrapper"><a href=up/>Up</a></div>
{% endblock %}
