{% extends 'base_with_top_menu.html' %}

{% load go_back_link %}

{% block title %}Book list{% endblock %}

{% block header %} {% if for_whom %} {{ for_whom }} {% else %} Book list {% endif %} {% endblock %}

{% block content %}
    {% if display_tips %}
    <div class="tip">
      <ol>
        {% if perms.baseapp.list_users %}
            <li><p>Two ways of using this view:
                <ol>
                    <li>
                        You type into ID field a prefix of specific book copy shelf mark:
                        <ul>
                            <li>You are shown all copies with IDs starting with that prefix.</li>
                            <li>All other field are ignored</li>
                        </ul>
                    </li>
                    <li>
                        You don't type into ID field:
                        <ul>
                            <li>You are shown all titles (not copies) filtered by all fields you typed into.</li>
                            <li>You don't need to type anything. Simply clicking Search button will list all books</li>
                            <li>Selecting checkbox next to search field will cause filtering on that field behave like there is an <i>or</i> between search words. Unselecting it inserts an <i>and</i>.</li>
                            <li>Regexp is not supported.</li>
                        </ul>
                </ol>
            </li>
        {% endif %}
        <li><p>If you use Firefox or Opera you can click and drag to multiselect locations. In Chrome you can use CTRL+click. In IE both ways works.</p></li>
        <li><p>In categories, selecting "Any" has effect iff nothing else is selected. If "Any" and sth else is selected, then "Any" would be automatically deselected.</p></li>
      </ol>
    </div>
    {%endif%}

    <div class="content_form">
        <form action="." method="post" name="Fbook_search" class="book_search">
            <table>
            <tbody>
            <tr>
                <td class="first">
                    <table class="book_details">
                    <tbody>
                        {% if perms.baseapp.list_users %}
                            <tr class="book_id">
                                <td>ID: <br><input type="text" name="id" value="{{ search.id }}"></td>
                                <td></td>
                            </tr>
                        {% endif %}
                        <tr class="book_title">
                            <td>Title: <br><input type="text" name="title" value="{{ search.title }}"></td>
                            <td><input type="checkbox" name="title_any" id="title_any" value="any"  {% if search.title_any_checked %} checked {% endif %} >
                                <label for="title_any">Any of keywords</label></td>
                        </tr>
                        <tr class="book_author">
                            <td>Author: <br><input type="text" name="author" value="{{ search.author }}"></td>
                            <td><input type="checkbox" name="author_any" id="author_any" value="any"  {% if search.author_any_checked %} checked {% endif %} >
                                <label for="author_any">Any of keywords</label></td>
                        </tr>
                    </tbody>
                    </table>
                </td>
                <td class="second">
                    <table class="book_details">
                    <tbody>
                        <tr class="book_category">
                            <td class="list">
                                Category: <br> 
                                <select name="category" multiple="multiple" size="{{ search.categories_select_size }}">
                                    {% for category in search.categories %}
                                        <option value="{{ category.id }}" {% if category.selected %}selected{% endif %}>{{ category.name }}</option>
                                    {% endfor %}
                                </select>
        
                              <!-- <input type="text" name="category" value="{{ search.category }}"> -->
                            </td>
                            <td class="any"><input type="checkbox" name="category_any" id="category_any" value="any"  {% if search.category_any_checked %} checked {% endif %} >
                                <label for="category_any">Any of keywords</label></td>
                        </tr>
                    </tbody>
                    </table>
                </td>
            </tr>
            <tr class="book_search">
                <td colspan="2"> 
                    <input type="submit" name="action" value="Search"> 
                </td>
            </tr>
            </tbody>
            </table>
        </form>
    </div>

    <script type="text/javascript">
      document.Fbook_search.id.focus();
    </script>

    <div class="book_actions">
      {% if perms.baseapp.add_book %}
      <a href="/entelib/books/add/" class="add_book">Add new book</a>
      {% endif %}
    </div>

    {% if books %}
    <!--- BOOK SECTION -->
        <script type="text/javascript">
            $(document).ready(function()  { $("#booklist").tablesorter( {sortList: [[1,0]]} ); } );
        </script>

        <div class="found_books">
            <table class="booklist tablesorter" id="booklist">
            <thead>
                <tr class="header">
                    <th>Title</th>
                    <th>Authors</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr class="book">
                    <td class="title"><a href='{{ book.url }}'>{{ book.title }}</a></td>
                    <td class="authors">{% if book.authors %}{{ book.authors|join:', '}}{% else %}No authors.{% endif %}</td>
                {% endfor %}
                
            </tbody>
            </table>
        </div>
    <!--- END BOOK SECTION -->
    {% endif %}

    {% if bookcopies %}
    <!--- BOOK COPIES SECTION -->
        <script type="text/javascript">
            $(document).ready(function()  { $("#booklist").tablesorter( {sortList: [[1,0]]} ); } );
        </script>

        <div class="found_books">
            <table class="booklist tablesorter" id="booklist">
            <thead>
                <tr class="header">
                    <th>ID</th>
                    <th>State</th>
                    <th>Title</th>
                    <th>Authors</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                {% for copy in bookcopies %}
                <tr class="book">
                    {% if perms.baseapp.list_users %}
                        <td class="shelfmark"><a href="{{ copy.url }}">{{ copy.shelf_mark }}</a></td>
                    {% endif %}
                    <td class="state">{{ copy.state }}</td>
                    <td class="title"><a href="{% url book_one copy.book.id %}">{{ copy.title }}</a></td>
                    <td class="authors">{% if copy.authors %}{{ copy.authors|join:', '}}{% else %}No authors.{% endif %}</td>
                    <td class="location">{{ copy.location }}</td>
                {% endfor %}
                
            </tbody>
            </table>
        </div>
    <!--- END BOOK COPIES SECTION -->
    {% endif %}

    {% if none_found %} 
        <p><b>Sorry, no books.</b></p>
    {% else %}
        {% go_back_link %}
    {% endif %}
    
    {% if display_tips and none_found %}
    <div class="tip tips">
      <p>Why nothing was found? Here are some tips:</p>
      <ul style="margin-top:1em;">
        <li>Use spaces as separators.</li>
        <li>Title, Author and Category are combined with logical AND operator.</li>
        <li>Check your query for typos.</li>
        <li>Check if "Any" checkboxes are ticked properly.</li>
        <li>Your query is too strict.</li>
      </ul>
    </div>
    {% endif %}

{% endblock %}
