{% extends 'base_with_top_menu.html' %}

{% block title %}Book list{% endblock %}

{% block header %}Book list{% endblock %}

{% block content %}
    <div class='content_form'>
        <form action='.' method='post'>
            <table>
                <tr>
                    <td>Title: </td>
                    <td><input type='text' name='title' value='{{ search.title }}'></td>
                    <td><input type='checkbox' name='title_any' value='any'  {% if title_any_checked %} checked {% endif %} ></td>
                    <td>Any of keywords</td>
                </tr><tr>
                <tr>
                    <td>Author: </td>
                    <td><input type='text' name='author' value='{{ search.author }}'></td>
                    <td><input type='checkbox' name='author_any' value='any'  {% if author_any_checked %} checked {% endif %} ></td>
                    <td>Any of keywords</td>
                </tr><tr>
                <tr>
                    <td>Category: </td>
                    <td><input type='text' name='category' value='{{ search.category }}'></td>
                    <td><input type='checkbox' name='category_any' value='any'  {% if category_any_checked %} checked {% endif %} ></td>
                    <td>Any of keywords</td>
                </tr><tr>
                    <td></td><td>
                        <input type='submit' name='action' value='Search'>
                    </td></tr>
            </table>
        </form>
    </div>
    <div>
        <ul class='spaces'>
            {% for book in books %}
                <li><b><a href='{{ book.url }}'>{{ book.title }}:</a></b>
            {% if book.authors %}
                {{ book.authors|join:', '}}
            {% else %}
                no authors
            {% endif %}
                </li>
            {% empty %}
                <b>Sorry, no books.</b>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
