{% extends 'base_with_top_menu.html' %}

{% block title %}Cancel all reservations{% endblock %}

{% block header %}Cancel all reservations{% endblock %}

{% block content %}
<b>
    {{ first_name }} {{ last_name }}
    <br>
    {{ email|urlize }}
</b>
<br />
<br />
<div class="">
   <form action='.' method='post'>
        <input type='hidden' name='sure' value='true'>
        <input type='submit' name='' value='Cancel all'>
    </form>
</div>

<div class="inner_menu">
  <ul>
    <li><a href='../new/'>Rent something else.</a></li>
  </ul>
</div>

{% endblock %}
