{% extends 'base_with_top_menu.html' %}
{% block content %}

<h2>Changelog</h2>
<div class="changelog">

  <dt>2011-09-29</dt>
  <dd>
    <ul>
      <li>Reader can now request for book prolongation. To do so, just visit <a href="{% url my_rentals %}">your rentals</a>
        and press "Prolongation request". Sometimes, it may be impossible to prolong the rental. Especially if
        someone else reserved the book (and it would collide with your prolongation) or it is too early
        (prolongation request can be sent 7 days before rental's end).</li>
    </ul>
  </dd>
  <hr width="50%" align="left">


  <dt>2011-09-26</dt>
  <dd>
    <ul>
      <li>Librarians get notified when someone reserves a book for future rent.</li>
      <li>Added maintainers & book location to "returnal date coming" email notification.</li>
      <li>Reservation notification emails contains more details about reservation, so it is easier to report a problem.</li>
      <li>FIX: Book's authors are correctly displayed in reservation notification email.</li>
    </ul>
  </dd>
  <hr width="50%" align="left">


  <dt>2011-09-23</dt>
  <dd>
    <ul>
      {% if user.get_profile.is_librarian %}
      <li>Librarians can go on leave and let other people do their duties. Proper link ("On leave") can be
        found in <a href="{% url profile_edit %}">your profile</a>.</li>
      {% endif %}
      <li>FIX: <a href="{% url bookrequest_add_book %}">Request a book</a> feature is working again. You can also
        request another copy of a book -- visit <a href="{% url book_one 18%}">books's page</a> and follow the
        violet button "Request another copy".</li>
      <li>FIX: Fixed problem (IE only) with width of filter boxes in <a href="{% url book_all %}">book search</a>
        form.</li>
      <li>Added changelog :-)</li>
    </ul>
  </dd>
</div>

{% endblock content %}
