{% extends 'base_with_top_menu.html' %}

{% block title %}Entelib{% endblock %}

{% block header %}Entelib{% endblock %}

{% block go_up %}
{% endblock %}

{% block content %}
    {% if display_tips %}
        <div class="usage_info tip">
            <p>This is how tips look like. If you don't want to see them, you can turn them off
                <a href='/entelib/profile/config/display_tips/'>here</a> by unchecking "Value" field.<br />
               We recommend that you keep them for a while, until you are familiar with the application.
            </p>
        </div>
    {% endif %}

{% endblock %}
