{% extends 'base_with_top_menu.html' %}
{% block content %}

 <center>
 <div id="feedback" style="width: 98%; height: 50%; z-index: 9999; background-color: #aaa; padding:1em; color: white; overflow:scroll;">
 <h2>Feedback</h2>
 <form method="POST" action=".">
 <textarea name="feedback_msg" cols="80" rows="10">Message here: </textarea>
 <input type="hidden" name="feedback_user" value="{{user.id}} {{user.first_name|lower}} {{user.last_name|lower}}" />
 <input type="submit" name="btn_feedback_commit" value="Submit feedback" />
 </form>
 </div>
 </center>


{% endblock content %}
