{% extends "base_with_top_menu.html" %}

{% block title %} Howto {% endblock title %} 

{% block header %} Howto {% endblock header %} 

{% block content %}
<div class="tip">
    <ul>
    What do you want to do?
        <li>
            Rent a book:
            <ul>
                <li>
                From menu select Books. 
                <li>
                Type something you want to find. 
                    Basically short substring of title should be enough.
                    You can leave all field as they are to list all books.
                <li>
                Press "enter" or click "search".
                <li>
                Click on title you are interested in.
                <li>
                All books with that title will be listed and availability of them will be shown.
                <li>
                Click one of them on ID field on the left or "reserve" in actions field.
                <li>
                Select start and end date for you reservation, press reserve.
                <li>
                If you reservation is first for the period you chose, you can go and ask librarian to give the book. Or you can click "Send me" to ask him to send it to you with internal post.
            </ul>
        </li><li>
    Rent a book to someone who reserved it and came for it:<br/>
    Go to Current reservations. If ones reservation is correct and book can be rented to one, one's reservation will be listed there.
    Or go to User list, find one, go to one's profile, and select Reservations. One reservations will be listed, you can click rent on active ones.
        </li><li>
    Check if someone requested shipment via internal post:<br/>
    Go to Shipment requests. You will get a list of books you are asked to send via internal post. Click "Rent" for each book you are sending.
        </li>



    </ul>
</div>
{% endblock content %}
