{% extends 'base_with_top_menu.html' %}

{% load go_back_link %}

{% block title %}{{header|default:"Load default config"}}{% endblock %}

{% block header %}{{header|default:"Load default config, confirmation"}}{% endblock %}

{% block content %}

<div class="tip">
  <p>Loading default configuration is useful when you spoiled it. Because now it can be edited by hand this may happen. But you should now
    this option is <em>for developement only</em>. And should be disabled when running a production site. This option is available <em>only for staff.</em></p>
</div>

<p><a href="/entelib/load_default_config/1/">Yes, restore default config</a></p>

{% endblock %}
