{% extends 'base_with_top_menu.html' %}

{% block title %}{{header|default:"Load default config"}}{% endblock %}

{% block header %}{{header|default:"Load default config, confirmation"}}{% endblock %}

{% block content %}

{% if display_tips %}
<div class="tip">
  <p>Loading default configuration is useful when you spoiled it. Because now it can be edited by hand this may happen. But you should know
    this option is <em>for developement only</em>. And should be disabled when running a production site. This option is available <em>only for staff.</em></p>
</div>
{% endif %}

{% if not confirmation %}
<p><a href="/entelib/load_default_config/1/">Yes, restore default config</a></p>
{% else %}
<p><a href="{% url config_all %}">Go to configuration</a></p>
{% endif %}

{% endblock %}
