{% extends 'base_with_top_menu.html' %}

{% load go_back_link %}

{% block title %}My reservations{% endblock %}

{% block header %}My reservations{% endblock %}

{% block content %}
<b>
    {{ first_name }} {{ last_name }}
    <br>
    {{ email|urlize }}
</b>

<ul class='spaces'>
    {% for reservation in reservations %}
        <li>
            <form action='.' method='post'>
                <input type='hidden' name='reservation_id' value='{{ reservation.id }}'>
                <input type='submit' name='action' value='Cancel'>
            </form>
            <ul>
                <li>Shelf mark: {{ reservation.shelf_mark }}</li>
                <li>Authors: {{ reservation.authors|join:', ' }}</li>
                <li>From: {{ reservation.from_date }}</li>
                <li>Status: {% firstof reservation.rental_impossible "Ready" %}</li>
            </ul>
        </li>
    {% empty %}
        <b>No reservations.</b>
    {% endfor %}
</ul>

<p>{% go_back_link "Go back" %}</p>
<br/>
<p><a href='{{ cancel_all_url }}'>Cancel all reservations</a></p>

{% endblock %}
