{% extends 'base_with_top_menu.html' %}

{% load go_back_link %}

{% block title %}{{header|default:"Page not found"}}{% endblock %}

{% block header %}{{header|default:"Page not found"}}{% endblock %}

{% block content %}

{% if item_name %}
  <h2>{{item_name}} not found</h2>
{% else %}{% if msg %}
  <h2>{{msg}}</h2>
{% else %}
  <h2>Page not found</h2>
{% endif %}{% endif %}
  
<p>Sorry, but there is nothing to be displayed. What happened?</p>
<ul>
  <li>You entered wrong query, or</li>
  <li>Used invalid/corrupted data, or</li>
  <li>Tried to hack this app, or</li>
  <li>Someone else did, or</li>
  <li>Found a bug</li>
  <li>Whatever, end of the world is comming.</li>
</ul>

{% go_back_link "Go back" %}

{% endblock %}
