{% extends 'base_with_top_menu.html' %}

{% block title %}Reports{% endblock %}

{% block header %}Reports{% endblock %}

{% block content %}

{% if display_tips %}
<div class="tip">
  <p>Sorting is unavailable when you export to CSV.</p>
</div>
{% endif %}


    <script type="text/javascript"> 
    <!--
        $(document).ready(function()
        {   
            from = '{{ search.from }}';
            to = '{{ search.to }}';
            
            $("#from").html("<input type='hidden' name='from' value='" + from + "'>");
            $("#to").html("<input type='hidden' name='to' value='" + to + "'>");
            $("#info").html("");
            
            val = $("#report_type_select").val();
            from_str =  "<td>From: </td>" + 
                        "<td><input type='text' maxlength='10' name='from' value='" + 
                        from + "' onClick='showKal(this)'></td>" + 
                        "<td>(Leave at least one field empty for no time period specification)</td>";
                
            to_str =    "<td>To: </td>" + 
                        "<td><input type='text' maxlength='10' name='to' value='" + 
                        to + "' onClick='showKal(this)'></td>" + 
                        "<td></td>";
            
            info_str = "<td></td><td>YYYY-MM-DD</td><td></td>";
            
            if (val == "most_often_rented" || val == "most_often_reserved" || val == "black_list")
            {
                $("#from").html(from_str);
                $("#to").html(to_str);
                $("#info").html(info_str);
            };
            
            $("#report_type_select").click(function() 
            {
                val = $(this).val();
                from = $("input[name=from]", $("#from")).val();
                to = $("input[name=to]", $("#to")).val();
                
                from_str =  "<td>From: </td>" + 
                            "<td><input type='text' maxlength='10' name='from' value='" + 
                            from + "' onClick='showKal(this)'></td>" + 
                            "<td>(Leave at least one field empty for no time period specification)</td>";
                
                to_str =    "<td>To: </td>" + 
                            "<td><input type='text' maxlength='10' name='to' value='" + 
                            to + "' onClick='showKal(this)'></td>" + 
                            "<td></td>";
                
                if (val == "most_often_rented" || val == "most_often_reserved" || val == "black_list")
                {
                    $("#from").html(from_str);
                    $("#to").html(to_str);
                    $("#info").html(info_str);
                }
                else
                {
                    $("#from").html("<input type='hidden' name='from' value='" + 
                                    from + "'>");
                    $("#to").html(  "<input type='hidden' name='to' value='" + 
                                    to + "'>");
                    $("#info").html("");
                }
            });
        });
    //-->
    </script>
    {% if error %}
        <p><h2>Error - probably bad date format</h2></p>
    {% endif %}
    <div class='content_form'>
        <form action='.' method='post'>
            <table>
                <tr>
                    <td>Report type: </td>
                    <td>
                        <select id='report_type_select' name='report_type' size='{{ select_size }}'>
                            {% for type in report_types %}
                                <option value='{{ type.value }}' {% if type.selected %}selected{% endif %}>{{ type.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr id='from'>
                    <noscript>
                        <td>From: </td>
                        <td><input type='text' maxlength='10' name='from' value='{{ search.from }}' onClick='showKal(this)'></td>
                        <td>(Leave at least one field empty for no time period specification)</td>
                    </noscript>
                </tr>
                <tr id='to'>
                    <noscript>
                        <td>To: </td>
                        <td><input type='text' maxlength='10' name='to' value='{{ search.to }}' onClick='showKal(this)'></td>
                        <td></td>
                    </noscript>
                </tr>
                <tr id='info'>
                    <noscript>
                        <td></td>
                        <td>YYYY-MM-DD</td>
                        <td></td>
                    </noscript>
                </tr>
                <tr>
                    <td></td>
                    <td><input type='submit' name='action' value='Show'> <input type='submit' name='action' value='Export to csv'></td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
    {% block report %}{% endblock %}
{% endblock %}
