{% extends 'base_with_top_menu.html' %}

{% block title %}Reports{% endblock %}

{% block header %}Reports{% endblock %}

{% block content %}

<div class="inner_menu">
    <ul>
      <li><a href="/entelib/report/status/">Library status</a></li>
      <li><a href="/entelib/report/most_often_rented/">Most often rented books</a></li>
      <li><a href="/entelib/report/most_often_reserved/">Most often reserved books</a></li>
      <li><a href="/entelib/report/black_list/">Users black list</a></li>
      <li><a href="/entelib/report/lost_books/">Unavailable books</a></li>
    </ul>
</div>

    <!-- REPORT CONTENT -->
    {% block report %}{% endblock %}

{% endblock %}
