{% extends 'base_with_top_menu.html' %}

{% block title %}Cancel all reservations{% endblock %}

{% block header %}Cancel all reservations{% endblock %}

{% block content %}
<b>
    {{ first_name }} {{ last_name }}
    <br>
    {{ email|urlize }}
</b>
<br /><p> {#TODO: delete this comment. Marcin: czemu jak napiszę tak jak jest to działa (wyświetla napis na zielono, a jeśli zamiast <div class=...> napiszę <p class=..> to nie działa? #}
    <div class="positive_message"> Reservations cancelled </div>
    </p>
<br />
<a href='../new/'>Rent something else.</a>
{% endblock %}
