{% extends 'base_with_top_menu.html' %}

{% load go_back_link %}

{% block title %}User list{% endblock %}

{% block header %}User list{% endblock %}

{% block content %}
    <div class='content_form'>
        <form action='.' method='post'>
            <table>
                <tr>
                    <td>First name: </td>
                    <td><input type='text' name='first_name' value='{{ search.first_name }}'></td>
                </tr><tr>
                    <td>Last name: </td>
                    <td><input type='text' name='last_name' value='{{ search.last_name }}'></td>
                </tr><tr>
                    <td>Email: </td>
                    <td><input type='text' name='email' value='{{ search.email|urlize }}'></td>
                </tr><tr>
                    <td>Only librarians: </td>
                    <td><input type='checkbox' name='is_librarian' {%if search.is_librarian %}checked="checked"{%endif%}></td>
                </tr><tr>
                    <td></td>
                    <td><input type='submit'  name='action' value='Search'></td>
                </tr>
            </table>
        </form>
    </div>
    {% go_back_link "Go back" %}

    {% if perms.auth.add_user %}
    <div class="add_new_user">
      <a href="add/">Add new user</a>
    </div>
    {% endif %}
    
    <div style='margin-top: 1em'>
        <ul class='spaces'>
            {% for user in users %}
                <li><b><a href='{{ user.url }}'>{{user.username}}, {{ user.first_name }} {{ user.last_name }} ({{ user.email }})</a></b></li>
            {% endfor %}
            {% if non_found %} 
                No users found.
            {% endif %}
        </ul>
    </div>
{% endblock %}
