{% extends 'base_with_top_menu.html' %}

{% block title %}User reservations{% endblock %}

{% block header %}User reservations{% endblock %}

{% block content %}

<p class="user_name" style="font-weight:bold;">{{ first_name }} {{ last_name }}<br />
<span class="email">{{ email|urlize }}</span></p>
<p class="message">{{ message }}</p>

<ul class='spaces'>
    {% for reservation in reservations %}
        <li>
            <p><b><a href='{{reservation.url}}'> {{ reservation.title }}</a></b>, {{ reservation.authors|join:', ' }}</p>
            {% if can_rent %}
                <form action='.' method='post'>
                    <input type='hidden' name='rent' value='{{ reservation.id }}'>
                    <input type='submit' name='action' value='Rent' {% if reservation.rental_impossible %} disabled {% endif %}>
                </form>
            {% endif %}
            {% if can_cancel %}
                <form action='.' method='post'>
                    <input type='hidden' name='cancel' value='{{ reservation.id }}'>
                    <input type='submit' name='action' value='Cancel'>
                </form>
            {% endif %}
            <ul>
                <li><span class="label">Status</span>: {% firstof reservation.rental_impossible "Ready" %}</li>
                <li><span class="label">Shelf mark</span>: {{ reservation.shelf_mark }}</li>
                <!-- <li><span class="label">Authors</span>: {{ reservation.authors|join:', ' }}</li> -->
                <li><span class="label">Date range</span>: {{ reservation.from_date }} &ndash; {{ reservation.to_date }}</li>
            </ul>
        </li>
    {% empty %}
        <b>No reservations.</b>
    {% endfor %}
</ul>


<p>
<a href='archive/'>Show archive</a>
<p>
<a href='new/'>Rent something else.</a>
<p>
<a href='{{ cancel_all_url }}'>Cancel all reservations</a>

{% endblock %}
