{% extends 'user_rentals.html' %}

{% block message %}<br /> {{ message }} {% endblock %}

{% block return %}
    <th>
        {% if row.returnable %}
            <form action='.' method='post'>
               <input type='hidden' name='returned' value='{{ row.id }}'>
               <input type='submit' name='action' value='Return'>
            </form>
        {% else %}
            {{ row.rental.reservation.book_copy.location }}
        {% endif %}
    </th>
{% endblock %}
{% block return_header %}
    <th>Return</th>
{% endblock %}

