{% extends 'base_with_top_menu.html' %}

{% block title %}User list{% endblock %}

{% block header %}User list{% endblock %}

{% block content %}
    <div class='content_form'>
        <form action='.' method='post'>
            <table>
                <tr>
                    <td>Name: </td>
                    <td><input type='text' name='first_name' value='{{ first_name }}'></td>
                </tr><tr>
                    <td>Surname: </td>
                    <td><input type='text' name='last_name' value='{{ last_name }}'></td>
                </tr><tr>
                    <td>Email: </td>
                    <td><input type='text' name='email' value='{{ email|urlize }}'></td>
                </tr><tr>
                    <td></td><td>
                        <input type='submit'  name='action' value='Search'>
                    </td></tr>
            </table>
        </form>
    </div>
    <div style='margin-top: 1em'>
        <ul class='spaces'>
            {% for user in users %}
                <li><b><a href='{{ user.url }}'>{{ user.first_name }} {{ user.last_name }} ({{ user.email }})</a></b></li>
            {% empty %}
                <b>No users.</b>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
