{% extends 'base_with_top_menu.html' %}

{% block title %}Book's details{% endblock %}

{% block header %}Book's details{% endblock %}

{% block content %}
<div class="book_one">
    <p class="links">
      <a href="{% url book_all %}">Show all books</a> 
      {%if is_updating%}<a href="{% url book_one book.id %}">Show this book</a>{% endif %}
    </p>
    
    {% if perms.baseapp.add_book %}
    <div class="form_bookWrapper">
        <!-- <h2 id="new_book">New book</h2> -->
        <form method="POST" action="." name="Fbook">
            {{ form.non_field_errors }}
            <table>
                {% for field in form %}
                    <tr>
                        <td>{%if field.label_tag|removetags:"label" %}{{ field.label_tag }}:{%endif%} 
                        <br />
                        {{ field }}</td>
                        <td>{{ field.errors }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    {% if is_adding %}<td><input type="submit" value="Add book"></td> {%endif%}
                    {% if is_updating %}<td><input type="submit" value="Update book"></td> {%endif%}
                </tr>
            </table>
        </form>
        <script type="text/javascript"> 
            document.Fbook.title.focus();
        </script> 
    </div>
    {% endif %}

</div>    
{% endblock %}
